<!DOCTYPE html>
<html>
<head>

<title>Zoomin' Rentals</title>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='/styles/style.css')}}"/>

</head>
<body>
    <header>
        <nav class="navbar">
            <h1>Zoomin' Rentals</h1>
            <div class="navbar__menu">
                <a class="navbar_link" href="/">Home</a>
                <a class="navbar_link" href="/Drivers">Drivers</a>
                <a class="navbar_link" href="/Booking_Agents">Booking Agents</a>
                <a class="navbar_link" href="/Rentals">Rentals</a>
                <a class="navbar_link" href="/Rentals_Add_Ons">Rentals Add-Ons</a>
                <a class="navbar_link" href="/Add_Ons">Add-Ons</a>
                <a class="navbar_link" href="/Cars">Cars</a>
                <a class="navbar_link" href="/Locations">Locations</a>
            </div>
        </nav>
    </header>



    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}   
</body>

</html>