{% extends "base.j2" %}
{% block content %}
<div class="main">
<h1>Cars</h1>
    <div class="container data_table">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>location</th>
                    <th>make</th>
                    <th>model</th>
                    <th>year</th>
                    <th>body type</th>
                    <th>daily rate</th>
                    <th>color</th>
                    <th>license plate</th>
                    <th>vin</th>
                    <th>mileage</th>
                    <th>availability</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for car in Cars %}
                <tr>
                {% for key in car.keys() %}
                    <td>{{car[key]}}</td>
                {% endfor %}
                    <td><a href="Cars/update/{{car['car_id']}}">Edit</a></td>
                    <td><a href="Cars/delete/{{car['car_id']}}" onclick="return confirm('Delete {{car['make']}} {{car['model']}} from your records? This action is irreversible.')">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> 
    <div class="container data_forms">
        <div class="search_forms">
            <div class="form_div">
                <form class="form" method="POST" action="/Cars" id="searchCarMake">
                    <legend>Search Cars by Make</legend>
                    <fieldset class="form__field">
                        <div class="field__item">
                            <label> Car Make </label>
                            <select class="field__input" name="make">
                            {% for make in makes %}
                                <option value="{{make['make']}}">{{make['make']}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="multiple_buttons">
                            <input type="submit" value="Search" name="search_car_make" class="field__button">
                            <input type="submit" value="Reset" name="reset_search" class="field__button">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="form_div">
                <form class="form" method="POST" action="/Cars" id="searchCarAvailability">
                    <legend>Search Cars by Availability</legend>
                    <fieldset class="form__field">
                        <div class="field__item">
                            <label> Availability </label>
                            <select class="field__input" name="availability">
                                <option value="Available">Available</option>
                                <option value="Unavailable">Unavailable</option>
                            </select>
                        </div>
                        <div class="multiple_buttons">
                            <input type="submit" value="Search" name="search_car_availability" class="field__button">
                            <input type="submit" value="Reset" name="reset_search" class="field__button">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="form_div">
            <form class="form" method="POST" action="/Cars" id="form1">
                <legend>Add New Car</legend>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Location* </label>
                        <select class="field__input" name="location" required>
                        {% for loc in locations %}
                            <option value="{{loc['location_id']}}">{{loc['address']}}, {{loc['city']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Make* </label>
                        <input type="text" class="field__input" name="make" placeholder="Kia" required>
                    </div>
                    <div class="field__item">
                        <label> Model* </label>
                        <input type="text" class="field__input" name="model" placeholder="Optima" required>
                    </div>
                    <div class="field__item">
                        <label> Year* </label>
                        <input type="number" min="1990" max="2023" class="field__input" placeholder="1990-2023" name="year" required>
                    </div>
                    <div class="field__item">
                        <label> Body Type* </label>
                        <select class="field__input" name="body_type" required>
                            <option value="Sedan" selected>Sedan</option>
                            <option value="Coupe">Coupe</option>
                            <option value="SUV">SUV</option>
                            <option value="Minivan">Minivan</option>
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Daily Price* </label>
                        <input type="number" class="field__input" min="0" placeholder="50" name="price" required>
                    </div>
                    <div class="field__item">
                        <label> Color* </label>
                        <input type="text" class="field__input" name="color" placeholder="Silver" required>
                    </div>
                    <div class="field__item">
                        <label> License Plate Number* </label>
                        <input type="text" class="field__input" name="plate" placeholder="5AMPL3S" required>
                    </div>
                    <div class="field__item">
                        <label> Vin* </label>
                        <input type="text" class="field__input" minlength="17" maxlength="17" placeholder="JH4DA3350GS005185" name="vin" required>
                    </div>
                    <div class="field__item">
                        <label> Current Mileage* </label>
                        <input type="number" class="field__input" min="0" name="mileage" placeholder="10000" required>
                    </div>
                    <div class="field__item">
                        <label> Current Availability* </label>
                        <select class="field__input" name="availability">
                            <option value="Available">Available</option>
                            <option value="Unavailable">Unavailable</option>
                        </select>
                    </div>
                    <input type="submit" value="Add" name="add_car" class="field__button">
                </fieldset>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
