{% extends "base.j2" %}
{% block content %}
<div class="main">
    <h1>Update Car {{car["make"]}} {{car["model"]}}</h1>
        <div class="container data_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>location id</th>
                        <th>make</th>
                        <th>model</th>
                        <th>year</th>
                        <th>body type</th>
                        <th>daily rate</th>
                        <th>color</th>
                        <th>license</th>
                        <th>vin</th>
                        <th>mileage</th>
                        <th>availability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for key in car.keys() %}
                        <td>{{car[key]}}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form_div">
            <form class="form" method="POST" action="/Cars/update/{{car['car_id']}}" id="updateCar">
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Location </label>
                        <select class="field__input" name="location">
                        {% for loc in locations %}
                            {% if loc['location_id'] == car['location_id'] %}
                                <option value="{{loc['location_id']}}" selected>{{loc['address']}}, {{loc['city']}}</option>
                            {% else %}
                                <option value="{{loc['location_id']}}">{{loc['address']}}, {{loc['city']}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Make </label>
                        <input type="text" class="field__input" name="make" value="{{car['make']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Model </label>
                        <input type="text" class="field__input" name="model" value="{{car['model']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Year </label>
                        <input type="number" min="1990" max="2023" class="field__input" name="year" value="{{car['year']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Body Type </label>
                        <select class="field__input" name="body_type" required>
                        {% for body in body_types %}
                            {% if body == car['car_body_type'] %}
                                <option value="{{body}}" selected>{{body}}</option>
                            {% else %}
                                <option value="{{body}}" >{{body}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Daily Rate </label>
                        <input type="number" class="field__input" name="price" value="{{car['daily_price']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Color </label>
                        <input type="text" class="field__input" name="color" value="{{car['color']}}"required>
                    </div>
                    <div class="field__item">
                        <label> License Plate Number </label>
                        <input type="text" class="field__input" name="plate" value="{{car['license_plate_num']}}"required>
                    </div>
                    <div class="field__item">
                        <label> Vin </label>
                        <input type="text" class="field__input" name="vin" value="{{car['vin']}}"required>
                    </div>
                    <div class="field__item">
                        <label> Current Mileage </label>
                        <input type="number" class="field__input" name="mileage" value="{{car['current_mileage']}}"required>
                    </div>
                    <div class="field__item">
                        <label> Current Availability </label>
                        <select class="field__input" name="availability" value="{{car['current_availability']}}">
                        {% if "Available" == car['current_availability'] %}
                            <option value="Available" selected>Available</option>
                            <option value="Unavailable">Unavailable</option>
                        {% else %}
                            <option value="Available">Available</option>
                            <option value="Unavailable" selected>Unavailable</option>
                        {% endif %}
                        </select>
                    </div>
                    <input type="submit" value="Update" name="update_car" class="field__button">
                    <input type="submit" value="Cancel" name="cancel_update" class="field__button">
                </fieldset>
            </form>
        </div>
</div>
{% endblock %}