{% extends "base.j2" %}
{% block content %}
<div class="main">
<h1>Drivers</h1>
    <div class="container data_table">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>street</th>
                    <th>city</th>
                    <th>state</th>
                    <th>zip code</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for driver in Drivers %}
                <tr>
                {% for key in driver.keys() %}
                    <td>{{driver[key]}}</td>
                {% endfor %}
                    <td><a href="Drivers/update/{{driver['driver_id']}}">Edit</a></td>
                    <td><a href="Drivers/delete/{{driver['driver_id']}}" onclick="return confirm('Delete {{driver['first_name']}} {{driver['last_name']}} from your records? This action is irreversible.')">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container data_forms">
        <div class="form_div">
            <form class="form" method="POST" action="/Drivers" id="addDriver">
                <label for="cars">Add a Driver:</label>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> First Name </label>
                        <input type="text" class="field__input" name="first_name" required>
                    </div>
                    <div class="field__item">
                        <label> Last Name </label>
                        <input type="text" class="field__input" name="last_name" required>
                    </div>
                    <div class="field__item">
                        <label> Email </label>
                        <input type="text" class="field__input" name="email" required>
                    </div>
                    <div class="field__item">
                        <label> Phone </label>
                        <input type="text" class="field__input" name="phone" required>
                    </div>
                    <div class="field__item">
                        <label> Street </label>
                        <input type="text" class="field__input" name="street" required>
                    </div>
                    <div class="field__item">
                        <label> City </label>
                        <input type="text" class="field__input" name="city" required>
                    </div>
                    <div class="field__item">
                        <label> State </label>
                        <input type="text" class="field__input" name="state" required>
                    </div>
                    <div class="field__item">
                        <label> Zipcode </label>
                        <input type="number" class="field__input" name="zipcode" required>
                    </div>
                    <input type="submit" value="Add" name="add_driver" class="field__button">
                </fieldset>
            </form>
        </div>
        <div class="form_div">
            <form class="form" method="POST" action="/Drivers" id="searchDriver">
                <label for="cars">Filter drivers by last name (partial search allowed):</label>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Last Name </label>
                        <input type="text" class="field__input" name="last_name">
                    </div>
                    <input type="submit" value="Search" name="search_driver" class="field__button">
                    <input type="submit" value="Reset" name="reset_search" class="field__button">
                </fieldset>
            </form>
        </div>
    </div>
 </div>
 <script>

</script>
{% endblock %}
