{% extends "base.j2" %}
{% block content %}
<div class="main">
    <h1>Update {{driver["first_name"]}} {{driver["last_name"]}}</h1>
    <div class="container data_table">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>street</th>
                    <th>city</th>
                    <th>state</th>
                    <th>zip code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for key in driver.keys() %}
                    <td>{{driver[key]}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container data_forms">
        <div class="form_div">
            <form class="form" method="post" action="/Drivers/update/{{driver['driver_id']}}" id="updateDriver">
                <legend>Update Driver</legend>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> First Name* </label>
                        <input type="text" class="field__input" name="first_name" placeholder="John" value="{{driver['first_name']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Last Name* </label>
                        <input type="text" class="field__input" name="last_name" placeholder="Doe" value="{{driver['last_name']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Email* </label>
                        <input type="email" class="field__input" name="email" placeholder="jdoe@email.com" value="{{driver['email']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Phone* </label>
                        <input type="text" class="field__input" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="555-555-5555" value="{{driver['phone']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Street* </label>
                        <input type="text" class="field__input" name="street" placeholder="1234 Sample St." value="{{driver['street']}}" required>
                    </div>
                    <div class="field__item">
                        <label> City* </label>
                        <input type="text" class="field__input" name="city" placeholder="City Name" value="{{driver['city']}}" required>
                    </div>
                    <div class="field__item">
                        <label> State* </label>
                        <input type="text" class="field__input" name="state" pattern="[A-Z]{2}" placeholder="CA" value="{{driver['state']}}" required>
                    </div>
                    <div class="field__item">
                        <label> Zip Code* </label>
                        <input type="text" class="field__input" name="zipcode" pattern="[0-9]{5}" placeholder="99999" value="{{driver['zipcode']}}" required>
                    </div>
                    <div class="multiple_buttons">
                        <input type="submit" value="Update" name="update_driver" class="field__button">
                        <input type="submit" value="Cancel" name="cancel_update" class="field__button" formnovalidate>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}