{% extends "base.j2" %}
{% block content %}
<div class="main" id="home">
    <h1>Home Page</h2>
    <div class="homepage">
        <p>Zoomin’ Rentals is a rental car business offering approximately 75 cars to their customers. The
            business has grown to over 5 locations with an average of 50 rentals per day, collectively. The
            level of volume they currently have and will have over time requires a database to keep track of
            the cars currently available for rent (and at which locations), the drivers registered to drive each
            rental car, and sales at each of their locations for logistical and financial purposes. They are
            anticipating the need for a database that is scalable alongside their business. The database will
            record Rentals of Cars out of the businesses Locations and the Drivers associated with those
            rentals.</p>
        
        <p>Drivers - Entity that records the details of drivers renting cars.</p>
        <p>Booking Agents - Entity that records the details of booking agents assisting drivers renting cars.</p>
        <p>Rentals - Entity that records the details fo the car rentals, such as the car, the drivers registered to drive the car, the lcoation of the car rental, etc.</p>
        <p>Rentals Add-Ons - Intersection table between Rentals and Add-Ons</p>
        <p>Add-Ons - Entity that records the add-ons that a driver can include when getting a rental</p>
        <p>Cars - Entity that records the cars availabl for rentals</p>
        <p>Locations - Entity that records the various locations of the Zoomin Rentals.</p>
    </div>
</div>
<div class="marquee">
    <marquee scrollamount="1000">
        <pre>
        ______________________
        </pre>
    </marquee>
    <marquee direction="right" scrollamount="50">
        <pre>
                _-_-  _/\______\\__
            _-_-__  / ,-. -|-  ,-.`-.    
                _-_- `( o )----( o )-'
                    `-'      `-'
        </pre>
    </marquee>
    <marquee scrollamount="1000">
        <pre>
        ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
        </pre>
    </marquee>
</div>
{% endblock %}