{% extends "base.j2" %}
{% block content %}
<div class="main">
<h1>Locations</h1>
    <div class="container data_table">
        <table class="table">
            <thead>
                <tr>
                    <th>location_id</th>
                    <th>address</th>
                    <th>city</th>
                    <th>state</th>
                    <th>zipcode</th>
                    <th>num_cars</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for location in Locations %} {#for every dict in the tuple of dicts #}
                <tr>
                {% for key in location.keys() %} {#for every key in the list of keys for each dict, or in other words, for each data point #}
                    <td>{{location[key]}}</td> {# make a table cell for each k/v pair(the data point) in the dict#}
                {% endfor %}
                    <td><a href="Locations/update/{{location['location_id']}}">Edit</a></td>
                    <td><a href="Locations/delete/{{location['location_id_id']}}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            {# <tbody>
                <tr> {# Section for displaying query/table items #}
                    <td>1</td>
                    <td>1001 Fremont St</td>
                    <td>San Francisco</td>
                    <td>CA</td>
                    <td>90415</td>
                    <td>20</td>
                    <td><button class="location_delete">Delete</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2000 Wilshire</td>
                    <td>Los Angeles</td>
                    <td>CA</td>
                    <td>90008</td>
                    <td>25</td> 
                    <td><button class="location_delete">Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>6000 Wall St</td>
                    <td>New York</td>
                    <td>NY</td>
                    <td>10005</td>
                    <td>16</td>
                    <td><button class="location_delete">Delete</button></td>
                </tr>
            </tbody> #}
    </div>
    <div class="container data_forms"> {# Form for Adding Location #}
        <div class="form_div">
            <form class="form" method="POST" action="/Locations" id="addLocations">
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Address </label>
                        <input type="text" class="field__input" name ="address" required>
                    </div>
                    <div class="field__item">
                        <label> City </label>
                        <input type="text" class="field__input" name ="city" required>
                    </div>
                    <div class="field__item">
                        <label> State </label>
                        <input type="text" class="field__input" name ="state" required>
                    </div>
                    <div class="field__item">
                        <label> Zipcode </label>
                        <input type="number" class="field__input" name ="zip_code" required>
                    </div>
                    <div class="field__item">
                        <label> Number of Cars </label>
                        <input type="number" class="field__input" name ="num_cars" required>
                    </div>
                    <input type="submit" value="Add" name="add_location" class="field__button">
                </fieldset>
            </form>
        </div>
        {# <div class="form_div">
            <form class="form" method="POST" action="./" id="form1">
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Location ID </label>
                        <input type="number" class="field__input">
                    </div>
                    <div class="field__item">
                        <label> Address </label>
                        <input type="text" class="field__input">
                    </div>
                    <div class="field__item">
                        <label> City </label>
                        <input type="text" class="field__input">
                    </div>
                    <div class="field__item">
                        <label> State </label>
                        <input type="text" class="field__input">
                    </div>
                    <div class="field__item">
                        <label> Zipcode </label>
                        <input type="number" class="field__input">
                    </div>
                    <div class="field__item">
                        <label> Number of Cars </label>
                        <input type="number" class="field__input">
                    </div>
                    <button class="field__button">
                        <a href="#" class="field__button">Update</a>
                    </button>
                </fieldset>
            </form>
        </div> #} Old form for updating
    </div>
</div>
{% endblock %}
