{% extends "base.j2" %}
{% block content %}
<div class="main">
<h1>Locations</h1>
    <div class="container data_table">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>street</th>
                    <th>city</th>
                    <th>state</th>
                    <th>zip code</th>
                    <th>car qty</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for loc in Locations %}
                <tr>
                {% for key in loc.keys() %}
                    <td>{{loc[key]}}</td>
                {% endfor %}
                    <td><a href="Locations/update/{{loc['location_id']}}">Edit</a></td>
                    <td><a href="Locations/delete/{{loc['location_id']}}" onclick="return confirm('Delete {{loc['city']}} from your records? This action is irreversible.')">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container data_forms">
        <div class="form_div">
            <form class="form" method="POST" action="/Locations" id="searchLocation">
                <legend>Search Locations by City</legend>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> City </label>
                        <select class="field__input" name="city">
                        {% for city in cities %}
                            <option value="{{city['city']}}">{{city['city']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="multiple_buttons">
                        <input type="submit" value="Search" name="search_location" class="field__button">
                        <input type="submit" value="Reset" name="reset_search" class="field__button">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="form_div">
            <form class="form" method="POST" action="/Locations" id="addLocation">
                <legend>Add New Location</legend>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Street* </label>
                        <input type="text" class="field__input" name="address" placeholder="1234 Sample St." required>
                    </div>
                    <div class="field__item">
                        <label> City* </label>
                        <input type="text" class="field__input" name="city" placeholder="City Name"required>
                    </div>
                    <div class="field__item">
                        <label> State* </label>
                        <input type="text" class="field__input" name="state" pattern="[A-Z]{2}" placeholder="CA" required>
                    </div>
                    <div class="field__item">
                        <label> Zip Code* </label>
                        <input type="number" class="field__input" name="zipcode" pattern="[0-9]{5}" placeholder="99999" required>
                    </div>
                    <div class="field__item">
                        <label> Number of Cars* </label>
                        <input type="number" class="field__input" name="qty" min="0" placeholder="20" required>
                    </div>
                    <input type="submit" value="Add" name="add_location" class="field__button">
                </fieldset>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
