{% extends "base.j2" %}
{% block content %}
<div class="main">
<h1>Rentals</h1>
    <div class="container data_table">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Driver</th>
                    <th>Location</th>
                    <th>Car</th>
                    <th>Agent</th>
                    <th>pickup time</th>
                    <th>pickup date</th>
                    <th>return time</th>
                    <th>return date</th>
                    <th>payment type</th>
                    <th>total cost</th>
                    <th>Add-Ons</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for rental in Rentals %}
                <tr>
                {% for key in rental.keys() %}
                    <td>{{rental[key]}}</td>
                {% endfor %}
                    <td>
                    {% if intersections[rental['rental_id']]|length > 0 %}
                        {% for addON in intersections[rental['rental_id']] %}
                        {{addON}}<br>
                        {% endfor %}
                    {% endif %}
                    </td>
                    <td><a href="Rentals/update/{{rental['rental_id']}}">Edit</a></td>
                    <td><a href="Rentals/delete/{{rental['rental_id']}}" onclick="return confirm('Delete rental:{{rental['rental_id']}} from your records? This action is irreversible.')">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> 
    <div class="container data_forms">
        <div class="form_div search_form">
            <form class="form" method="POST" action="/Rentals" id="searchRental">
                <legend>Search Rentals by Pickup Date</legend>
                <fieldset class="form__field">
                    <div class="field__item">
                        <div class="field__item">
                            <label> Pickup Date </label>
                            <input type="date" class="field__input" name="pickup_date">
                        </div>
                    </div>
                    <div class="multiple_buttons">
                        <input type="submit" value="Search" name="search_rental" class="field__button">
                        <input type="submit" value="Reset" name="reset_search" class="field__button">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="form_div">
            <form class="form" method="POST" action="/Rentals" id="form1">
                <legend>Add New Rental</legend>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Driver* </label>
                        <select class="field__input" name="driver" required>
                        {% for d in drivers %}
                            <option value="{{d['driver_id']}}">{{d['name']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Location* </label>
                        <select class="field__input" name="location" required>
                        {% for loc in locations %}
                            <option value="{{loc['location_id']}}">{{loc['address']}}, {{loc['city']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Car* </label>
                        <select class="field__input" name="car" required>
                        {% for car in cars %}
                            <option value="{{car['car_id']}}">{{car['make']}} {{car['model']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Agent* </label>
                        <select class="field__input" name="agent" >
                            <option value="none" selected>None</option>
                        {% for agent in agents %}
                            <option value="{{agent['agent_id']}}">{{agent['name']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Pickup Time* </label>
                        <input type="time" class="field__input" name="pickup_time" min="08:00" max="18:00" value="08:00" required>
                    </div>
                    <div class="field__item">
                        <label> Pickup Date* </label>
                        <input type="date" class="field__input" name="pickup_date" required>
                    </div>
                    <div class="field__item">
                        <label> Return Time* </label>
                        <input type="time" class="field__input" name="return_time" min="08:00" max="18:00" value="12:00" required>
                    </div>
                    <div class="field__item">
                        <label> Return Date* </label>
                        <input type="date" class="field__input" name="return_date" min="08:00" max="18:00" required>
                    </div>
                    <div class="field__item">
                        <label> Payment Type* </label>
                        <select class="field__input" name="payment" required>
                            <option value="" select disabled>--Please choose an option--</option>
                            <option value="cash">Cash</option>
                            <option value="credit">Credit</option>
                        </select>
                    </div>
                    <div class="field__item field__addons" >
                        <label> Add-Ons </label>
                        <div class="add_ons">
                            {% for add in addOns %}
                            <div class="add_on_option">
                                <input type="checkbox" name="add_ons" value="{{add['add_on_id']}}">
                                <label for="add_ons">{{add['name']}}</label><br>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="field__item" >
                        <label> Total Cost* </label>
                        <input type="number" class="field__input" name="cost" min="0" placeholder="100" required>
                    </div>
                    <input type="submit" value="Add" name="add_rental" class="field__button">
                </fieldset>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
