{% extends "base.j2" %}
{% block content %}
<div class="main">
<h1>Rentals</h1>
    <div class="container data_table">
        <table class="table">
            <thead>
                <tr>
                    <th>rental_id</th>
                    <th>location_id</th>
                    <th>car_id</th>
                    <th>rental_time</th>
                    <th>rental_date</th>
                    <th>pickup_time</th>
                    <th>pickup_date</th>
                    <th>return_time</th>
                    <th>return_date</th>
                    <th>payment_type</th>
                    <th>current_status</th>
                    <th>total_penalties</th>
                    <th>total_cost</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for rental in Rentals %}
                <tr>
                {% for key in rental.keys() %}
                    <td>{{rental[key]}}</td>
                {% endfor %}
                    <td><a href="./Rentals">Edit</a></td>
                    <td><a href="./Rentals" onclick="return confirm('Delete rental:{{rental['rental_id']}} from your records? This action is irreversible.')">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> 
    <div class="container data_forms">
        <div class="form_div">
            <form class="form" method="POST" action="/Rentals" id="form1">
                <label for="cars">Add a Rental:</label>
                <fieldset class="form__field">
                    <div class="field__item">
                        <label> Location </label>
                        <select class="field__input" name="location" required>
                        {% for loc in locations %}
                            <option value="{{loc['location_id']}}">{{loc['address']}}, {{loc['city']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Car </label>
                        <select class="field__input" name="car" required>
                        {% for car in cars %}
                            <option value="{{car['car_id']}}">{{car['color']}} {{car['make']}} {{car['model']}} - {{car['vin']}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Rental Time </label>
                        <input type="time" class="field__input" name="rental_time"  min="08:00" max="18:00" required>
                    </div>
                    <div class="field__item">
                        <label> Rental Date </label>
                        <input type="date" class="field__input" name="rental_date" required>
                    </div>
                    <div class="field__item">
                        <label> Pickup Time </label>
                        <input type="time" class="field__input" name="pickup_time" min="08:00" max="18:00" required>
                    </div>
                    <div class="field__item">
                        <label> Pickup Date </label>
                        <input type="date" class="field__input" name="pickup_date" required>
                    </div>
                    <div class="field__item">
                        <label> Return Time </label>
                        <input type="time" class="field__input" name="return_time" min="08:00" max="18:00" required>
                    </div>
                    <div class="field__item">
                        <label> Return Date </label>
                        <input type="date" class="field__input" name="return_date" min="08:00" max="18:00" required>
                    </div>
                    <div class="field__item">
                        <label> Payment Type </label>
                        <select class="field__input" name="payment" required>
                            <option value="" select disabled>--Please choose an option--</option>
                            <option value="cash">Cash</option>
                            <option value="credit">Credit</option>
                        </select>
                    </div>
                    <div class="field__item">
                        <label> Current Status </label>
                        <select class="field__input" name="status" required>
                            <option value="" selected disabled>--Please choose an option--</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="field__item" >
                        <label> Total Penalties </label>
                        <input type="number" class="field__input" name="penalties" required>
                    </div>
                    <div class="field__item" >
                        <label> Total Cost </label>
                        <input type="number" class="field__input" name="cost" required>
                    </div>
                    <input type="submit" value="Add" name="add_rental" class="field__button">
                </fieldset>
            </form>
        </div>
        <div class="form_div">
            <form class="form" method="POST" action="/Rentals" id="searchRental">
                <label for="cars">Filter by rental date:</label>
                <fieldset class="form__field">
                    <div class="field__item">
                        <div class="field__item">
                            <label> Rental Date </label>
                            <input type="date" class="field__input" name="rental_date">
                        </div>
                    </div>
                    <input type="submit" value="Search" name="search_rental" class="field__button">
                    <input type="submit" value="Reset" name="reset_search" class="field__button">
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
